<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lc.ldms.dao.clientPassMapper" >
  <resultMap id="clientPassMap" type="com.lc.ldms.model.clientPass" >
    <id column="EMPLOYEEID" property="employeeid" jdbcType="DECIMAL" />
    <result column="SEQUENCE" property="sequence" jdbcType="DECIMAL" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    EMPLOYEEID, SEQUENCE, PASSWORD
  </sql>
  <select id="selectByPrimaryKey" resultMap="clientPassMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from SSMDATA.CLIENT_PASS
    where EMPLOYEEID = #{employeeid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from CLIENT_PASS
    where EMPLOYEEID = #{employeeid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.lc.ldms.model.clientPass" >
    insert into SSMDATA.CLIENT_PASS (EMPLOYEEID, SEQUENCE, PASSWORD
      )
    values (#{employeeid,jdbcType=DECIMAL}, #{sequence,jdbcType=DECIMAL}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lc.ldms.model.clientPass" >
    insert into SSMDATA.CLIENT_PASS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="employeeid != null" >
        EMPLOYEEID,
      </if>
      <if test="sequence != null" >
        SEQUENCE,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="employeeid != null" >
        #{employeeid,jdbcType=DECIMAL},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=DECIMAL},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lc.ldms.model.clientPass" >
    update SSMDATA.CLIENT_PASS
    <set >
      <if test="sequence != null" >
        SEQUENCE = #{sequence,jdbcType=DECIMAL},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where EMPLOYEEID = #{employeeid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lc.ldms.model.clientPass" >
    update SSMDATA.CLIENT_PASS
    set SEQUENCE = #{sequence,jdbcType=DECIMAL},
      PASSWORD = #{password,jdbcType=VARCHAR}
    where EMPLOYEEID = #{employeeid,jdbcType=DECIMAL}
  </update>

  <select id="getNumOfClient" resultType="int">
  select count(*) from CLIENT_PASS
  </select>
  <select id="login"  parameterType="map"  resultMap="clientPassMap">  
        select t.employeeid,t.password from CLIENT_PASS t where employeeid=#{employeeid,jdbcType=DECIMAL} and password=#{password,jdbcType=VARCHAR}  
  </select>    
</mapper>